$sunny-yellow: #f4f013;
$dark: #212121;

body {
	background-color: $sunny-yellow;
	color: $dark;
	padding: 0 5rem;
	font-size: 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.weather-app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.custom-button {
	background-color: $dark;
	padding: 1rem 4rem;
	font-weight: 600;
	cursor: pointer;
	border: none;
	color: white;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 1.9rem;
	margin: 2rem 0rem;
	outline: none !important;
}

.refreshing-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $dark;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;

	.spinner {
		width: 5rem;
		filter: brightness(100%);
		animation: spin 1s forwards linear infinite;
	}
}

.weather-items {
	display: flex;
	justify-content: center;

	.weather-item {
		border: solid 0.3rem $dark;
		width: 17rem;
		padding: 4rem 4rem 2rem;
		border-radius: 1.9rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 0 1rem 2rem rgba($dark, 0.05);
		transition: all 0.45s;
		margin: 0 1.5rem;
		cursor: pointer;

		&--selected {
			background-color: $dark;
			color: whitesmoke;
		}

		&:hover {
			box-shadow: 0 2rem 4rem rgba($dark, 0.3);
		}

		&__title {
			font-size: 2rem;
			line-height: 1.2;
			text-align: center;
		}

		&__body {
			text-align: center;
		}

		&__icon {
			height: 5rem;
			margin: 2rem 0;
		}

		&__temp {
			font-size: 1.8rem;
			margin: 0;
			line-height: 1;
		}

		&__description {
			font-size: 1rem;
			margin: 0;
		}
	}
}

.weather-fc {
	margin-top: 5rem;
	width: 100%;

	&__title {
		font-size: 1.4rem;
		margin-bottom: 2.5rem;
	}

	&__container {
		display: flex;
		justify-content: flex-start;
	}

	&__item {
		margin: 0 2rem;

		h4 {
			font-size: 1.2rem;
			line-height: 1;
		}

		h5 {
			font-size: 0.7rem;
			line-height: 1;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
