@import "../../css/variables.scss";

.calculator {
	border-radius: 1rem;
	background-color: $charcoal-grey;
	box-shadow: 1rem 2rem 3rem rgba($charcoal-grey, 0.35);
	border: solid 2px $charcoal-grey;
	color: whitesmoke;
	overflow: hidden;

	&__menu-bar {
		display: flex;
		padding: 0.5rem 1rem;

		&__control {
			display: inline-block;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 0.75rem;
			margin-right: 1rem;

			&:first-of-type {
				background-color: $grapefruit;
			}

			&:nth-of-type(2) {
				background-color: $maize;
			}

			&:last-of-type {
				background-color: $turtle-green;
			}
		}
	}

	&__display {
		padding: 0.5rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&__small {
			font-weight: bold;
			opacity: 0.5;
		}

		&__big {
			font-weight: 300;
			font-size: 3.5rem;
		}
	}

	&__body {
		display: grid;
		width: 28rem;
		height: 30rem;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 1fr;

		&__grid {
			&-left {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(5, 1fr);
				grid-gap: 2px;
				margin-right: 2px;
			}

			&-right {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(5, 1fr);
				grid-gap: 2px;
			}
		}

		&__button {
			background-color: $purplish-grey;
			font-weight: 300;
			font-size: 2.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1;
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.85;
			}

			&--others {
				background-color: $iron;
			}

			&--operator {
				background-color: $light-orange;
			}

			&#button-0 {
				grid-column-start: 1;
				grid-column-end: 3;
				width: 100%;
			}
		}
	}
}
