.app {
	font-family: sans-serif;
	text-align: center;
	padding: 1.5rem;
}

.app__title {
	margin-bottom: 3rem;
}

.todo-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.5rem;
	border: solid 1px gray;
	border-radius: 0.5rem;
	margin-bottom: 2.5rem;
	opacity: 0;
	animation: fade-in-up 0.3s forwards ease-in-out;
}

.todo-item--completed {
	opacity: 0.5;
}

.todo-item--preview * {
	opacity: 0.3;
	pointer-events: none;
}

.todo-item__description {
	text-align: left;
	margin-top: 1rem;
}

.todo-input {
	margin-bottom: 3rem;
	text-align: left;
	background: whitesmoke;
	padding: 1.5rem;
	border-radius: 0.5rem;
}

@keyframes fade-in-up {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
