// --------------------------------------------------
// COLORS
// --------------------------------------------------

$charcoal-grey: #41403f;
$iron: #525150;
$purplish-grey: #6f6e6e;
$light-orange: #f3a23c;
$grapefruit: #ed655a;
$maize: #e1c04c;
$turtle-green: #72be47;
